@media screen and (max-width:1000px){
    body{
        height: 100vh;
    }
    .heading-6{
        text-align: center;
    }

    #Result{
        text-align: justify;
    }

    .Container{
        background-image: none;
        margin: 0;
        padding: 0;
    } 

    #button{
        padding: 15px;
        text-align: center;
    }

    footer{
        
    }
}